Project Code
[{"id":"399b0c4c.c619b4","type":"tab","label":"IOT Project","disabled":false,"info":""},{"id":"71aef87f.1457e8","type":"ui_form","z":"399b0c4c.c619b4","name":"","label":" Hospital Login ","group":"ed50a2ff.3342f","order":1,"width":0,"height":0,"options":[{"label":"Username","value":"usn","type":"text","required":true,"rows":null},{"label":"Password","value":"pwd","type":"password","required":true,"rows":null}],"formValue":{"usn":"","pwd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":140,"wires":[["3b2d231c.90741c"]]},{"id":"3b2d231c.90741c","type":"function","z":"399b0c4c.c619b4","name":"Get User Input","func":"global.set(\"usn\",msg.payload.usn);\nglobal.set(\"cusn\",\"KMCH118\");\nglobal.set(\"pwd\",msg.payload.pwd);\nglobal.set(\"cpwd\",\"COVIDPD\");\n// msg.payload=usn;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":200,"wires":[["88580a0d.6c1858"]]},{"id":"88580a0d.6c1858","type":"function","z":"399b0c4c.c619b4","name":"Authentication","func":"var usn1=global.get('usn')\nvar cusn1=global.get('cusn')\nvar pwd1=global.get('pwd')\nvar cpwd1=global.get('cpwd')\nif((usn1==cusn1) && (pwd1==cpwd1))\n{\n    msg.payload=1;\n}\nelse\n{\n    msg.payload=0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":140,"wires":[["59196908.684e48"]]},{"id":"59196908.684e48","type":"switch","z":"399b0c4c.c619b4","name":"Checker","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":120,"wires":[["39270be8.1835e4"],["b1e7bb18.408758"]]},{"id":"b1e7bb18.408758","type":"function","z":"399b0c4c.c619b4","name":"Invlaid Login","func":"msg.payload = \"Invalid User or Password.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":140,"wires":[["cb4e2c89.dbb24"]]},{"id":"cb4e2c89.dbb24","type":"ui_toast","z":"399b0c4c.c619b4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Failed Authentication","name":"Failed Authentication","x":1000,"y":120,"wires":[[]]},{"id":"39270be8.1835e4","type":"link out","z":"399b0c4c.c619b4","name":"","links":["30046f83.6a3da"],"x":735,"y":80,"wires":[]},{"id":"30046f83.6a3da","type":"link in","z":"399b0c4c.c619b4","name":"","links":["39270be8.1835e4"],"x":265,"y":280,"wires":[["c44c9413.a53888"]]},{"id":"fcacc890.10a848","type":"function","z":"399b0c4c.c619b4","name":"Temperature","func":"global.set('random1',msg.payload.toFixed(2));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":500,"wires":[["16a00fd5.90322"]]},{"id":"75b3197a.c59bc8","type":"function","z":"399b0c4c.c619b4","name":"Oxygen","func":"global.set('random2',msg.payload.toFixed(2));\nmsg.payload = {'random2': msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":660,"wires":[["bb943e3e.cc28e"]]},{"id":"4e84a58f.e7dd3c","type":"function","z":"399b0c4c.c619b4","name":"Collect in JSON","func":"msg.payload={'Body_Temperature':global.get('random1'),'Oxygen':global.get('random2'),'Heart_Beat':global.get('random3'),'Respiration':global.get('random4'),'BP1':global.get('random5'),'BP2':global.get('random6')};\nmsg.headers={\"Content-type\":\"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":920,"wires":[["f4cdef98.296a4"]]},{"id":"b277bd12.cdc11","type":"random","z":"399b0c4c.c619b4","name":"Temperature Creator","low":"97","high":"99","inte":"false","property":"payload","x":280,"y":480,"wires":[["fcacc890.10a848"]]},{"id":"16a00fd5.90322","type":"random","z":"399b0c4c.c619b4","name":"Oximeter","low":"94","high":"100","inte":"false","property":"payload","x":220,"y":580,"wires":[["75b3197a.c59bc8"]]},{"id":"bb943e3e.cc28e","type":"random","z":"399b0c4c.c619b4","name":"Heart Rate Sensor","low":"75","high":"80","inte":"true","property":"payload","x":230,"y":720,"wires":[["c613e8cf.c51fb8"]]},{"id":"c613e8cf.c51fb8","type":"function","z":"399b0c4c.c619b4","name":"Heart Beat","func":"global.set('random3',msg.payload.toFixed(2));\nmsg.payload = {'random3': msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":800,"wires":[["b668be3a.70a81"]]},{"id":"b668be3a.70a81","type":"random","z":"399b0c4c.c619b4","name":"Respiration Sensor","low":"12","high":"16","inte":"true","property":"payload","x":230,"y":860,"wires":[["8eaa51fe.13d3e"]]},{"id":"8eaa51fe.13d3e","type":"function","z":"399b0c4c.c619b4","name":"Respiration","func":"global.set('random4',msg.payload.toFixed(2));\nmsg.payload = {'random4': msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":940,"wires":[["34cd4227.ed722e"]]},{"id":"f4cdef98.296a4","type":"ibmiot out","z":"399b0c4c.c619b4","authentication":"quickstart","apiKey":"","outputType":"evt","deviceId":"iotsensordata","deviceType":"1.1.2","eventCommandType":"status","format":"json","data":"data","qos":0,"name":"Sensor Normal","service":"quickstart","x":720,"y":740,"wires":[]},{"id":"dd25874e.a6e2b8","type":"comment","z":"399b0c4c.c619b4","name":"Retrieve Sensor Data","info":"","x":140,"y":1180,"wires":[]},{"id":"f61c91bf.f3bec","type":"ibmiot in","z":"399b0c4c.c619b4","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"iotsensordata","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"Retrive","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":1460,"wires":[["527eecf3.3d6054","c68caac6.167ea8","5d458d8.0f3fd74","e3585e14.730bc","b78a2fa0.05e2d","b631fccd.bbfee","1c923868.de9af8"]]},{"id":"527eecf3.3d6054","type":"function","z":"399b0c4c.c619b4","name":"Temp","func":"return {payload:parseFloat(msg.payload.Body_Temperature)};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":334,"y":1304,"wires":[["82f9a5b2.abcd28","eca74070.0ebef"]]},{"id":"c68caac6.167ea8","type":"function","z":"399b0c4c.c619b4","name":"Oxygen","func":"return {payload:parseFloat(msg.payload.Oxygen)};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":374,"y":1424,"wires":[["ad12e8f0.65bb58"]]},{"id":"fe47ecd5.6d796","type":"function","z":"399b0c4c.c619b4","name":"Time","func":"var dateNow = new Date();\nvar timeAsString = dateNow.toLocaleTimeString();\nmsg.payload = msg.payload+timeAsString;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":384,"y":1244,"wires":[["24dd076.0ac69f8"]]},{"id":"24dd076.0ac69f8","type":"ui_text","z":"399b0c4c.c619b4","group":"991fa6de.b1c328","order":1,"width":0,"height":0,"name":"","label":"Time : ","format":"{{msg.payload}}","layout":"row-left","x":654,"y":1244,"wires":[]},{"id":"59a33b4b.f95094","type":"inject","z":"399b0c4c.c619b4","name":"Date and Time","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":160,"y":1240,"wires":[["fe47ecd5.6d796","91e09f09.2455c"]]},{"id":"82f9a5b2.abcd28","type":"ui_chart","z":"399b0c4c.c619b4","name":"","group":"e5f5c8a6.f40f58","order":1,"width":6,"height":4,"label":"Body Temperature","chartType":"line","legend":"false","xformat":"auto","interpolate":"monotone","nodata":"","dot":false,"ymin":"90","ymax":"105","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":594,"y":1284,"wires":[[]]},{"id":"eca74070.0ebef","type":"ui_text","z":"399b0c4c.c619b4","group":"e5f5c8a6.f40f58","order":3,"width":5,"height":1,"name":"","label":"Body Temperature :","format":"{{msg.payload}} °F","layout":"row-center","x":594,"y":1344,"wires":[]},{"id":"5d458d8.0f3fd74","type":"function","z":"399b0c4c.c619b4","name":"Heart Rate","func":"return {payload:parseFloat(msg.payload.Heart_Beat)};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":394,"y":1564,"wires":[["6994691e.c6a4d8","bc8f8c6c.cb6ca"]]},{"id":"e3585e14.730bc","type":"function","z":"399b0c4c.c619b4","name":"Respiration","func":"return {payload:parseFloat(msg.payload.Respiration)};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":394,"y":1704,"wires":[["13a77605.608d7a"]]},{"id":"6994691e.c6a4d8","type":"ui_chart","z":"399b0c4c.c619b4","name":"","group":"64e436b3.f3da88","order":1,"width":6,"height":4,"label":"Heart Rate","chartType":"line","legend":"false","xformat":"auto","interpolate":"monotone","nodata":"","dot":false,"ymin":"60","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":614,"y":1524,"wires":[[]]},{"id":"bc8f8c6c.cb6ca","type":"ui_text","z":"399b0c4c.c619b4","group":"64e436b3.f3da88","order":3,"width":5,"height":1,"name":"","label":"Heart Rate :","format":"{{msg.payload}} BPM","layout":"row-center","x":614,"y":1584,"wires":[]},{"id":"ad12e8f0.65bb58","type":"ui_gauge","z":"399b0c4c.c619b4","name":"","group":"789fdd2c.ec6884","order":1,"width":6,"height":3,"gtype":"gage","title":"Oxygen","label":"Percent","format":"{{value}} %","min":"90","max":"100","colors":["#00b500","#0cb012","#12a11b"],"seg1":"","seg2":"","x":614,"y":1424,"wires":[]},{"id":"13a77605.608d7a","type":"ui_gauge","z":"399b0c4c.c619b4","name":"","group":"852c3067.5ed9f","order":1,"width":6,"height":3,"gtype":"gage","title":"Respiration","label":"Breath per min","format":"{{value}}","min":"10","max":"20","colors":["#00b500","#40bd0a","#47ab1c"],"seg1":"","seg2":"","x":634,"y":1704,"wires":[]},{"id":"e89278ac.66df88","type":"comment","z":"399b0c4c.c619b4","name":"Normal Sensor Data ","info":"","x":110,"y":340,"wires":[]},{"id":"1ee155bc.63bd2a","type":"ui_switch","z":"399b0c4c.c619b4","name":"","label":"Normal","tooltip":"","group":"3a164b1.c025eb4","order":1,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":100,"y":380,"wires":[["f0e2fb76.129108"]]},{"id":"f0e2fb76.129108","type":"function","z":"399b0c4c.c619b4","name":"Array Creation","func":"var t=Date.now();\nvar arr=[];\nvar ir=0;\nif (msg.payload===true)\n{\n    while(ir<10)\n    {\n        arr.push(t);\n        t=t+3;\n        ir++;\n    }\n    msg.payload=arr\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":380,"wires":[["b174fcb.1e152"]]},{"id":"b174fcb.1e152","type":"split","z":"399b0c4c.c619b4","name":"Split Node","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":510,"y":380,"wires":[["3b159d82.8593e2"]]},{"id":"3b159d82.8593e2","type":"delay","z":"399b0c4c.c619b4","name":"Delay","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":380,"wires":[["b277bd12.cdc11"]]},{"id":"91e09f09.2455c","type":"function","z":"399b0c4c.c619b4","name":"Date","func":"var date_ob = new Date();\n\n// current date\n// adjust 0 before single digit date\nvar date = (\"0\" + date_ob.getDate()).slice(-2);\n\n// current month\nvar month = (\"0\" + (date_ob.getMonth() + 1)).slice(-2);\n\n// current year\nvar year = date_ob.getFullYear();\nmsg.payload=date+'/'+month+'/'+year;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1160,"wires":[["7e7bbc01.a56904"]]},{"id":"7e7bbc01.a56904","type":"ui_text","z":"399b0c4c.c619b4","group":"991fa6de.b1c328","order":2,"width":0,"height":0,"name":"","label":"Date :","format":"{{msg.payload}}","layout":"row-left","x":600,"y":1160,"wires":[]},{"id":"d17653b2.73791","type":"twilio out","z":"399b0c4c.c619b4","twilio":"c5be0209.bb834","twilioType":"sms","url":"","number":"+918825693756","name":"SMS Alert","x":1840,"y":1240,"wires":[]},{"id":"ec300fcc.85404","type":"inject","z":"399b0c4c.c619b4","name":"Refreshing","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"str","x":120,"y":60,"wires":[["71aef87f.1457e8"]]},{"id":"7efeee91.f59af","type":"comment","z":"399b0c4c.c619b4","name":"Secured Login","info":"","x":290,"y":40,"wires":[]},{"id":"ecedb0de.35fae","type":"comment","z":"399b0c4c.c619b4","name":"Abnormal Sensor Data","info":"","x":100,"y":1920,"wires":[]},{"id":"34cd4227.ed722e","type":"random","z":"399b0c4c.c619b4","name":"BP Systolic ","low":"110","high":"120","inte":"true","property":"payload","x":210,"y":1000,"wires":[["41d032d1.fe3c9c"]]},{"id":"41d032d1.fe3c9c","type":"function","z":"399b0c4c.c619b4","name":"BP Systolic","func":"global.set('random5',msg.payload);\nmsg.payload = {'random5': msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":1060,"wires":[["da5b5fd.f947ca"]]},{"id":"da5b5fd.f947ca","type":"random","z":"399b0c4c.c619b4","name":"BP Diastolic ","low":"70","high":"80","inte":"true","property":"payload","x":390,"y":1040,"wires":[["63de5154.89e87"]]},{"id":"63de5154.89e87","type":"function","z":"399b0c4c.c619b4","name":"BP Diastolic","func":"global.set('random6',msg.payload);\nmsg.payload = {'random6': msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":1100,"wires":[["4e84a58f.e7dd3c"]]},{"id":"d17f6378.3dd36","type":"function","z":"399b0c4c.c619b4","name":"Tempearture","func":"global.set('random11',msg.payload.toFixed(2));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":435,"y":2084.8056640625,"wires":[["c7c35d65.cce66"]]},{"id":"72484433.f6adfc","type":"function","z":"399b0c4c.c619b4","name":"Oxygen","func":"global.set('random22',msg.payload.toFixed(2));\nmsg.payload = {'random22': msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":145,"y":2244.8056640625,"wires":[["e82ff26.fcfe71"]]},{"id":"2f4d1f19.c5868","type":"function","z":"399b0c4c.c619b4","name":"Collect in JSON","func":"msg.payload={'Body_Temperature':global.get('random11'),'Oxygen':global.get('random22'),'Heart_Beat':global.get('random33'),'Respiration':global.get('random44'),'BP1':global.get('random55'),'BP2':global.get('random66')};\nmsg.headers={\"Content-type\":\"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":2480,"wires":[["5e597af0.1f8804"]]},{"id":"5a442c0f.286f24","type":"random","z":"399b0c4c.c619b4","name":"Temperature Creator","low":"100","high":"105","inte":"false","property":"payload","x":220,"y":2060,"wires":[["d17f6378.3dd36"]]},{"id":"c7c35d65.cce66","type":"random","z":"399b0c4c.c619b4","name":"Oximeter","low":"75","high":"80","inte":"false","property":"payload","x":145,"y":2164.8056640625,"wires":[["72484433.f6adfc"]]},{"id":"e82ff26.fcfe71","type":"random","z":"399b0c4c.c619b4","name":"Heart Rate Sensor","low":"45","high":"50","inte":"true","property":"payload","x":225,"y":2344.8056640625,"wires":[["7f91356e.2255dc"]]},{"id":"7f91356e.2255dc","type":"function","z":"399b0c4c.c619b4","name":"Heart Rate","func":"global.set('random33',msg.payload.toFixed(2));\nmsg.payload = {'random33': msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":195,"y":2404.8056640625,"wires":[["9d59e970.c83ba8"]]},{"id":"9d59e970.c83ba8","type":"random","z":"399b0c4c.c619b4","name":"Respiration Sensor","low":"8","high":"10","inte":"true","property":"payload","x":190,"y":2480,"wires":[["b4be7782.89c128"]]},{"id":"b4be7782.89c128","type":"function","z":"399b0c4c.c619b4","name":"Respiration","func":"global.set('random44',msg.payload.toFixed(2));\nmsg.payload = {'random44': msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":2540,"wires":[["abf4ce25.56e35"]]},{"id":"5e597af0.1f8804","type":"ibmiot out","z":"399b0c4c.c619b4","authentication":"quickstart","apiKey":"","outputType":"evt","deviceId":"iotsensordata","deviceType":"1.1.2","eventCommandType":"status","format":"json","data":"data","qos":0,"name":"Sensor Abnormal Data","service":"quickstart","x":780,"y":2320,"wires":[]},{"id":"e51d5a20.0f26c8","type":"ui_switch","z":"399b0c4c.c619b4","name":"","label":"Abnormal","tooltip":"","group":"3a164b1.c025eb4","order":2,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":80,"y":1960,"wires":[["bbe35e01.92637","363339d8.c07e76"]]},{"id":"bbe35e01.92637","type":"function","z":"399b0c4c.c619b4","name":"Array Creation","func":"var t=Date.now();\nvar arr=[];\nvar i=0;\nif (msg.payload===true)\n{\n    while(i<5)\n    {\n        arr.push(t);\n        t=t+3;\n        i++;\n        global.set(\"count\",i);\n    }\n    msg.payload=arr\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":285,"y":1984.8056640625,"wires":[["4dbed227.3433fc"]]},{"id":"4dbed227.3433fc","type":"split","z":"399b0c4c.c619b4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":490,"y":1980,"wires":[["13ddf1cb.ec2fae"]]},{"id":"13ddf1cb.ec2fae","type":"delay","z":"399b0c4c.c619b4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":1960,"wires":[["5a442c0f.286f24"]]},{"id":"4a78a13b.b25ad","type":"ui_text","z":"399b0c4c.c619b4","group":"a986fe6e.2274c","order":1,"width":0,"height":0,"name":"","label":"Doctor Name : ","format":"{{msg.payload.dn}}","layout":"row-left","x":380,"y":2940,"wires":[]},{"id":"74762354.60304c","type":"inject","z":"399b0c4c.c619b4","name":"Doctor Name","props":[{"p":"payload.dn","v":"Robert","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":120,"y":2940,"wires":[["4a78a13b.b25ad","54c5c222.dd8e3c"]]},{"id":"9e313f40.e1132","type":"inject","z":"399b0c4c.c619b4","name":"Nurse Name","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Amritha","payloadType":"str","x":120,"y":2980,"wires":[["e2a8fa11.fc7d08"]]},{"id":"e2a8fa11.fc7d08","type":"ui_text","z":"399b0c4c.c619b4","group":"a986fe6e.2274c","order":2,"width":0,"height":0,"name":"","label":"Nurse Name :","format":"{{msg.payload}}","layout":"row-left","x":360,"y":2980,"wires":[]},{"id":"6b221c30.0cabf4","type":"comment","z":"399b0c4c.c619b4","name":" Medical Staff Details","info":"","x":110,"y":2880,"wires":[]},{"id":"b78a2fa0.05e2d","type":"function","z":"399b0c4c.c619b4","name":"BP Systolic","func":"return {payload:msg.payload.BP1};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1780,"wires":[["6dc57ea7.a250f"]]},{"id":"b631fccd.bbfee","type":"function","z":"399b0c4c.c619b4","name":"BP Diastolic","func":"return {payload:msg.payload.BP2};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":1860,"wires":[["7fffd95b.4c6738"]]},{"id":"6dc57ea7.a250f","type":"ui_artlessgauge","z":"399b0c4c.c619b4","group":"d993c62b.de8128","order":1,"width":0,"height":0,"name":"BP Systolic","icon":"","label":"BP Systolic","unit":"mm Hg","layout":"linear","decimals":0,"differential":false,"minmax":false,"colorTrack":"#555555","colorFromTheme":true,"property":"payload","sectors":[{"val":110,"col":"#ff6600","t":"min","dot":0},{"val":120,"col":"#ff6600","t":"max","dot":0}],"lineWidth":"5","bgcolorFromTheme":true,"diffCenter":"","x":610,"y":1780,"wires":[]},{"id":"7fffd95b.4c6738","type":"ui_artlessgauge","z":"399b0c4c.c619b4","group":"d993c62b.de8128","order":2,"width":0,"height":0,"name":"BP Diastolic","icon":"","label":"BP Diastolic","unit":"mm Hg","layout":"linear","decimals":0,"differential":false,"minmax":false,"colorTrack":"#555555","colorFromTheme":true,"property":"payload","sectors":[{"val":70,"col":"#007bff","t":"min","dot":0},{"val":80,"col":"#007bff","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":610,"y":1860,"wires":[]},{"id":"abf4ce25.56e35","type":"random","z":"399b0c4c.c619b4","name":"BP Systolic ","low":"130","high":"140","inte":"true","property":"payload","x":190,"y":2600,"wires":[["2ea6c779.379058"]]},{"id":"601586f2.231ba8","type":"ui_text","z":"399b0c4c.c619b4","group":"e44ff5ca.7a8698","order":1,"width":0,"height":0,"name":"","label":"Name : ","format":"{{msg.payload.pan}}","layout":"row-left","x":380,"y":2780,"wires":[]},{"id":"c61d4628.dabc08","type":"inject","z":"399b0c4c.c619b4","name":"Patient Name","props":[{"p":"payload.pan","v":"John","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":2780,"wires":[["601586f2.231ba8","8d016af4.0f6808"]]},{"id":"b4d77426.0af818","type":"inject","z":"399b0c4c.c619b4","name":"Room Number","props":[{"p":"payload.rn","v":"204-16","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":2820,"wires":[["86aeffe9.433a5","e7aaf3a8.742f4"]]},{"id":"86aeffe9.433a5","type":"ui_text","z":"399b0c4c.c619b4","group":"e44ff5ca.7a8698","order":2,"width":0,"height":0,"name":"","label":"Room Number :","format":"{{msg.payload.rn}}","layout":"row-left","x":380,"y":2820,"wires":[]},{"id":"143b6a4d.71b5c6","type":"comment","z":"399b0c4c.c619b4","name":"Patient Details","info":"","x":110,"y":2740,"wires":[]},{"id":"2ea6c779.379058","type":"function","z":"399b0c4c.c619b4","name":"BP Systolic","func":"global.set('random55',msg.payload);\nmsg.payload = {'random55': msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":2680,"wires":[["c036d7f5.969828"]]},{"id":"c036d7f5.969828","type":"random","z":"399b0c4c.c619b4","name":"BP Diastolic ","low":"90","high":"100","inte":"true","property":"payload","x":410,"y":2620,"wires":[["c113bc5f.46a39"]]},{"id":"c113bc5f.46a39","type":"function","z":"399b0c4c.c619b4","name":"BP Diastolic","func":"global.set('random66',msg.payload);\nmsg.payload = {'random66': msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":2680,"wires":[["2f4d1f19.c5868"]]},{"id":"127384b2.25206b","type":"function","z":"399b0c4c.c619b4","name":"SMS Alert","func":"var cnt=msg.payload\nvar risk=global.get('risk')\nif(cnt==5 && risk==1)\n{\n    var pnn=global.get(\"pn1\");\n    var rnn=global.get('rn1');\n    var mess=\"Patient Critical !! Immediate Attention Required !!\";\n    msg.payload=mess+\"\\n\";\n    msg.payload=msg.payload+\"Patient name: \"+pnn+\"\\n\";\n    msg.payload=msg.payload+\"Room Number: \"+rnn+\"\\n\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":1240,"wires":[["d17653b2.73791"]]},{"id":"e7aaf3a8.742f4","type":"function","z":"399b0c4c.c619b4","name":"Room Details","func":"global.set(\"rn1\",msg.payload.rn);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":2860,"wires":[[]]},{"id":"8d016af4.0f6808","type":"function","z":"399b0c4c.c619b4","name":"Patient Details","func":"global.set(\"pn1\",msg.payload.pan);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":2740,"wires":[[]]},{"id":"c44c9413.a53888","type":"ui_ui_control","z":"399b0c4c.c619b4","name":"Switch Tab","events":"change","x":410,"y":280,"wires":[["56196a02.ab0d54"]]},{"id":"56196a02.ab0d54","type":"change","z":"399b0c4c.c619b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":280,"wires":[[]]},{"id":"1799005f.70f87","type":"function","z":"399b0c4c.c619b4","name":"E-mail","func":"var cnt=msg.payload\nvar risk=global.get('risk')\nif(cnt==5 && risk==1)\n{\n    var pnn=global.get('pn1');\n    var rnn=global.get('rn1');\n    var dn=global.get('dn')\n    var oxy=global.get('oxy')\n    var rp=global.get('rp')\n    var bt=global.get('bt')\n    var hr=global.get('hr')\n    var BP1=global.get('BP1')\n    var BP2=global.get('BP2')\n    var oxylbl=\"Oxygen Level\"\n    var rsplbl=\"Respiration Level\"\n    var btlbl=\"Body Temperature\"\n    var hrlbl=\"Heart rate\"\n    var BP1lbl=\"BP Systolic\"\n    var BP2lbl=\"BP Diastolic\"\n    var Hlt=\"Health Condition\"\n    var subject=\"\\t Please find COVID-19 Patient's Health Report\"\n    var ptndtn=\"Patient Details\"\n    var ptndtnul=\"---------------------\"\n    var sendtn=\"Measured Sensor Values\"\n    var sendtnul=\"----------------------------\"\n    var prddtn=\"Prediction Results\"\n    var prddtnul=\"-------------------------\"\n    var mssg=\"Please reply to this mail by choosing any of the options listed below:\"\n    msg.payload=\"Hi \"+dn+\",\"+\"\\n\"\n    msg.payload=msg.payload+subject+\"\\n\\n\"\n    msg.payload=msg.payload+ptndtn+\"\\n\"\n    msg.payload=msg.payload+ptndtnul+\"\\n\"\n    msg.payload=msg.payload+\"Patient Name: \"+pnn+\"\\n\"\n    msg.payload=msg.payload+\"Room Number: \"+rnn+\"\\n\\n\"\n    msg.payload=msg.payload+sendtn+\"\\n\"\n    msg.payload=msg.payload+sendtnul+\"\\n\"\n    msg.payload=msg.payload+oxylbl+\": \"+oxy+\"\\n\"\n    msg.payload=msg.payload+rsplbl+\": \"+rp+\"\\n\"\n    msg.payload=msg.payload+btlbl+\": \"+bt+\"\\n\"\n    msg.payload=msg.payload+hrlbl+\": \"+hr+\"\\n\"\n    msg.payload=msg.payload+BP2lbl+\": \"+BP1+\"\\n\"\n    msg.payload=msg.payload+BP2lbl+\": \"+BP2+\"\\n\\n\"\n    msg.payload=msg.payload+prddtn+\"\\n\"\n    msg.payload=msg.payload+prddtnul+\"\\n\"\n    msg.payload=msg.payload+Hlt+\": \"+\"Critical\"+\"\\n\\n\"\n    msg.payload=msg.payload+mssg+\"\\n\\n\";\n    msg.payload=msg.payload+\"\\t 1. Present Medication is sufficient.\"+\"\\n\"\n    msg.payload=msg.payload+\"\\t 2. Additional Testing needs to done.\"+\"\\n\"\n    msg.payload=msg.payload+\"\\t 3. Needs to be shifted to the ICU immediately.\"+\"\\n\"\n}\nmsg.topic=\"COVID-19 Patient Alert\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1610,"y":1180,"wires":[["6121eed9.d1822"]]},{"id":"6121eed9.d1822","type":"e-mail","z":"399b0c4c.c619b4","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"shailesh.karthik16@gmail.com","dname":"E-mail","x":1810,"y":1180,"wires":[]},{"id":"1c923868.de9af8","type":"function","z":"399b0c4c.c619b4","name":"Input Values","func":"var oxy=msg.payload.Oxygen;\nglobal.set(\"oxy\",oxy); \nglobal.set(\"oxylbl\",\"Oxygen(94-100)\");\nvar rp=msg.payload.Respiration;\nglobal.set(\"rp\",rp); \nglobal.set(\"rsplbl\",\"Respiration(12-16)\");\nvar bt=msg.payload.Body_Temperature;\nglobal.set(\"bt\",bt); \nglobal.set(\"btlbl\",\"Body Temperature(97-99)\");\nvar hr=msg.payload.Heart_Beat;\nglobal.set(\"hr\",hr); \nglobal.set(\"htlbl\",\"Heart rate(75-80)\");\nvar BP1=msg.payload.BP1;\nglobal.set(\"BP1\",BP1); \nglobal.set(\"bp1lbl\",\"BP1(<120)\");\nvar BP2=msg.payload.BP2;\nglobal.set(\"BP2\",BP2); \nglobal.set(\"bp2lbl\",\"BP2(<80)\");\nvar apikey=\"kJKsunjorsdjF-gIxrxD1V6u7VpNawzH32EmajSTztVu\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1480,"wires":[["ebd27495.512cc8"]]},{"id":"ebd27495.512cc8","type":"http request","z":"399b0c4c.c619b4","name":"Request for Token","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.eu-gb.bluemix.net/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":1480,"wires":[["1beeed17.4bb163"]]},{"id":"1beeed17.4bb163","type":"function","z":"399b0c4c.c619b4","name":"Set Data for Http Request","func":"var oxy=global.get('oxy')\nvar rp=global.get('rp')\nvar bt=global.get('bt')\nvar hr=global.get('hr')\nvar BP1=global.get('BP1')\nvar BP2=global.get('BP2')\nvar oxylbl=global.get('oxylbl')\nvar rsplbl=global.get('rsplbl')\nvar btlbl=global.get('btlbl')\nvar htlbl=global.get('htlbl')\nvar bp1lbl=global.get('bp1lbl')\nvar bp2lbl=global.get('bp2lbl')\nvar token=msg.payload.access_token\nvar instance_id=\"611fa01d-9a79-468c-b8b7-b4db654be3a3\"\nmsg.headers={'Content-Type':'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\":[{\"fields\":[oxylbl,rsplbl,btlbl,htlbl,bp1lbl,bp2lbl],\"values\":[[oxy,rp,bt,hr,BP1,BP2]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":1440,"wires":[["4ff3d832.353ab8"]]},{"id":"4ff3d832.353ab8","type":"http request","z":"399b0c4c.c619b4","name":"Http Request for ML","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/00d9f2dc-0698-4015-a91f-bd93ca37ad31/predictions?version=2020-10-24","tls":"","persist":false,"proxy":"","authType":"","x":1080,"y":1440,"wires":[["4140231f.99b31c"]]},{"id":"4140231f.99b31c","type":"function","z":"399b0c4c.c619b4","name":"Answer","func":"var response=msg.payload.predictions[0].values[0][0]\n// global.set(\"response\",response.toFixed(2)+\"%\")\nif(response<=85){\n    risk=1\n}else{\n    risk=0\n}\nglobal.set(\"risk\",risk)\nmsg.payload=risk;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":1440,"wires":[["c4697749.47ca58"]]},{"id":"37a9c94c.7126e6","type":"ui_text","z":"399b0c4c.c619b4","group":"83d79a3e.9d7b68","order":1,"width":0,"height":0,"name":"","label":"Health Condition","format":"{{msg.payload}}","layout":"row-spread","x":1810,"y":1420,"wires":[]},{"id":"c4697749.47ca58","type":"switch","z":"399b0c4c.c619b4","name":"Checker","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1460,"y":1440,"wires":[["b21cb540.6bc708"],["117c3a13.3b63d6"]]},{"id":"c89368d6.ab0bd8","type":"ui_toast","z":"399b0c4c.c619b4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Patient Alert","name":"Patient Alert","x":1810,"y":1300,"wires":[[]]},{"id":"b21cb540.6bc708","type":"change","z":"399b0c4c.c619b4","name":"Critical","rules":[{"t":"set","p":"payload","pt":"msg","to":"Critical","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":1380,"wires":[["37a9c94c.7126e6"]]},{"id":"477c0f8a.6e8ae","type":"function","z":"399b0c4c.c619b4","name":"Last Iteration","func":"var count=global.get('count');\nmsg.payload=count;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1410,"y":1300,"wires":[["4d7290c4.ddea","1799005f.70f87","7927722a.e951fc","127384b2.25206b"]]},{"id":"8aa495b9.dc58b8","type":"link in","z":"399b0c4c.c619b4","name":"","links":["fee31d6e.22705"],"x":1235,"y":1300,"wires":[["477c0f8a.6e8ae"]]},{"id":"fee31d6e.22705","type":"link out","z":"399b0c4c.c619b4","name":"","links":["8aa495b9.dc58b8"],"x":555,"y":1940,"wires":[]},{"id":"117c3a13.3b63d6","type":"change","z":"399b0c4c.c619b4","name":"Normal","rules":[{"t":"set","p":"payload","pt":"msg","to":"Normal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":1460,"wires":[["37a9c94c.7126e6"]]},{"id":"54c5c222.dd8e3c","type":"function","z":"399b0c4c.c619b4","name":"Doctor Details","func":"global.set(\"dn\",msg.payload.dn);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":2900,"wires":[[]]},{"id":"4d7290c4.ddea","type":"function","z":"399b0c4c.c619b4","name":"Patient Alert","func":"var cnt=msg.payload\nvar risk=global.get('risk')\nif(cnt==5 && risk==1)\n{\n    msg.payload=\"Patient Critical!!!Attention Required!!\"\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":1300,"wires":[["c89368d6.ab0bd8"]]},{"id":"363339d8.c07e76","type":"switch","z":"399b0c4c.c619b4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1940,"wires":[["8b628816.1f71a8"]]},{"id":"8b628816.1f71a8","type":"delay","z":"399b0c4c.c619b4","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":1940,"wires":[["fee31d6e.22705"]]},{"id":"371f332d.2b2cdc","type":"ui_audio","z":"399b0c4c.c619b4","name":"","group":"852c3067.5ed9f","voice":"en-GB","always":"","x":1800,"y":1120,"wires":[]},{"id":"7927722a.e951fc","type":"function","z":"399b0c4c.c619b4","name":"TTS","func":"var cnt=msg.payload\nvar risk=global.get('risk')\nif(cnt==5 && risk==1)\n{\n    var rnn=global.get('rn1');\n    msg.payload=\"Patient Critical!!\"+\", ,\";\n    msg.payload=msg.payload+\"Patient number: \"+rnn;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":1120,"wires":[["371f332d.2b2cdc"]]},{"id":"30c1c0e3.b25f7","type":"comment","z":"399b0c4c.c619b4","name":"Alert Notifications","info":"","x":1700,"y":1060,"wires":[]},{"id":"8ca4d2ac.be1b3","type":"comment","z":"399b0c4c.c619b4","name":"Machine Learning Prediction","info":"","x":1210,"y":1380,"wires":[]},{"id":"ed50a2ff.3342f","type":"ui_group","z":"","name":"Authentication","tab":"da167db7.f6829","order":1,"disp":true,"width":"10","collapse":false},{"id":"991fa6de.b1c328","type":"ui_group","z":"","name":"Date and Time","tab":"b669c373.a0f6f","order":2,"disp":true,"width":6,"collapse":false},{"id":"e5f5c8a6.f40f58","type":"ui_group","z":"","name":"Temperature ","tab":"b669c373.a0f6f","order":7,"disp":true,"width":"6","collapse":false},{"id":"64e436b3.f3da88","type":"ui_group","z":"","name":"Heart Rate","tab":"b669c373.a0f6f","order":8,"disp":true,"width":"6","collapse":false},{"id":"789fdd2c.ec6884","type":"ui_group","z":"","name":"Oxygen","tab":"b669c373.a0f6f","order":5,"disp":true,"width":"6","collapse":false},{"id":"852c3067.5ed9f","type":"ui_group","z":"","name":"Respiration","tab":"b669c373.a0f6f","order":6,"disp":true,"width":"6","collapse":false},{"id":"3a164b1.c025eb4","type":"ui_group","z":"","name":"Power","tab":"b669c373.a0f6f","order":1,"disp":true,"width":6,"collapse":false},{"id":"c5be0209.bb834","type":"twilio-api","z":"","name":"","sid":"ACe86732239f780f1ce4474230706a62f6","from":"+13399707277"},{"id":"a986fe6e.2274c","type":"ui_group","z":"","name":"Medical Staff Details","tab":"b669c373.a0f6f","order":4,"disp":true,"width":"6","collapse":false},{"id":"d993c62b.de8128","type":"ui_group","z":"","name":"Blood Pressure","tab":"b669c373.a0f6f","order":9,"disp":true,"width":"6","collapse":false},{"id":"e44ff5ca.7a8698","type":"ui_group","z":"","name":"Patient Details","tab":"b669c373.a0f6f","order":3,"disp":true,"width":6,"collapse":false},{"id":"83d79a3e.9d7b68","type":"ui_group","z":"","name":"Health Status","tab":"b669c373.a0f6f","order":10,"disp":true,"width":"6","collapse":false},{"id":"da167db7.f6829","type":"ui_tab","z":"","name":"Hospital","icon":"dashboard","order":1,"disabled":true,"hidden":true},{"id":"b669c373.a0f6f","type":"ui_tab","z":"","name":"Patient Dashboard","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
